<!--Section: Testimonials v.1-->
<section class="section pb-3 text-center">

    <!--Section heading-->
    <h1 class="section-heading h1 pt-4" style="font-weight: bold;">About Us</h1>
    <!--Section description-->
    <p class="section-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet
      numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur
      accusamus veniam.</p>
  
    <div class="row">
  
      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4">
  
        <!--Card-->
        <div class="card testimonial-card">
  
          <!--Background color-->
          <div class="card-up teal lighten-2">
          </div>
  
          <!--Avatar-->
          <div class="avatar mx-auto white"><img src=".\assets\IMG_20190407_165559.jpg"
              alt="avatar mx-auto white" class="rounded-circle img-fluid" style="height: 250px;width: 300px;">
          </div>
  
          <div class="card-body">
            <!--Name-->
            <h4 class="card-title mt-1">Devesh Sheth</h4>
            <hr>
            <!--Quotation-->
            <p><i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos,
              adipisci.</p>
          </div>
  
        </div>
        <!--Card-->
  
      </div>
      <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4">
  
        <!--Card-->
        <div class="card testimonial-card">
  
          <!--Background color-->
          <div class="card-up blue lighten-2">
          </div>
  
          <!--Avatar-->
          <div class="avatar mx-auto white"><img src=".\assets\IMG_20190203_160122.jpg"
              alt="avatar mx-auto white" class="rounded-circle img-fluid" style="height: 250px;width: 300px;">
          </div>
  
          <div class="card-body">
            <!--Name-->
            <h4 class="card-title mt-1">Ravi Kanogiya</h4>
            <hr>
            <!--Quotation-->
            <p><i class="fas fa-quote-left"></i> Neque cupiditate assumenda in maiores repudiandae mollitia
              architecto.</p>
          </div>
  
        </div>
        <!--Card-->
  
      </div>
      <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4">
  
        <!--Card-->
        <div class="card testimonial-card">
  
          <!--Background color-->
          <div class="card-up deep-purple lighten-2"></div>
  
          <!--Avatar-->
          <div class="avatar mx-auto white"><img src=".\assets\DSC_0065.JPG"
              alt="avatar mx-auto white" class="rounded-circle img-fluid" style="height: 250px;width: 300px;">
          </div>
  
          <div class="card-body">
            <!--Name-->
            <h4 class="card-title mt-1">Abhishek Suthar</h4>
            <hr>
            <!--Quotation-->
            <p><i class="fas fa-quote-left"></i> Delectus impedit saepe officiis ab aliquam repellat, rem totam
              unde ducimus.</p>
          </div>
  
        </div>
        <!--Card-->
  
      </div>
      <!--Grid column-->
  
    </div>








    <div class="row">
  
        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">
    
          <!--Card-->
          <div class="card testimonial-card">
    
            <!--Background color-->
            <div class="card-up teal lighten-2">
            </div>
    
            <!--Avatar-->
            <div class="avatar mx-auto white"><img src=".\assets\DSC_0020.JPG"
                alt="avatar mx-auto white" class="rounded-circle img-fluid" style="height: 250px;width: 300px;">
            </div>
    
            <div class="card-body">
              <!--Name-->
              <h4 class="card-title mt-1">Dhagash Shah</h4>
              <hr>
              <!--Quotation-->
              <p><i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos,
                adipisci.</p>
            </div>
    
          </div>
          <!--Card-->
    
        </div>
        <!--Grid column-->
    
        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">
    
          <!--Card-->
          <div class="card testimonial-card">
    
            <!--Background color-->
            <div class="card-up blue lighten-2">
            </div>
    
            <!--Avatar-->
            <div class="avatar mx-auto white"><img src=".\assets\Aryan.JPG"
                alt="avatar mx-auto white" class="rounded-circle img-fluid" style="height: 260px; width: 300px;">
            </div>
    
            <div class="card-body">
              <!--Name-->
              <h4 class="card-title mt-1">Aryan Shah</h4>
              <hr>
              <!--Quotation-->
              <p><i class="fas fa-quote-left"></i> Neque cupiditate assumenda in maiores repudiandae mollitia
                architecto.</p>
            </div>
    
          </div>
          <!--Card-->
    
        </div>
        <!--Grid column-->
    
        <!--Grid column-->
        
        <!--Grid column-->
    
      </div>
  
  </section>
  <!--Section: Testimonials v.1-->
