<div class="main">
    <div class="image" style="text-align: center;">
        <img src=".\assets\smile.png">
    </div>
    <div class="t">
        <p style="font-weight: bold;font-size: 80px;text-align: center;">404</p>
        <p style="font-size: 40px;text-align: center;">Page Not Found</p>
        <p style="font-size: 20px;text-align: center;">The Page you are looking for doesn't exist or an another error occured.</p>
        <a class="btn btn-outline-primary btn-rounded waves-effect" style="margin-left: 45%;" [routerLink]="['./home']">Go To Home</a><br><br><br>
    </div>
</div>
