<div class="l">
<table *ngIf="list" datatable class="row-border hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Category Name</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of list">
        <th scope="row">{{c.cid}}</th>
        <td>{{c.cname}}</td>
        <td><a [routerLink]="['/editcategory',c.cid]"><button type="button" class="btn btn-info btn-rounded">Edit</button></a></td>
        <td><button type="button" class="btn btn-danger btn-rounded" (click)="delete(c.cid)">Remove</button></td>
      </tr>
    </tbody>
  </table>
</div>