<p style="font-size: 40px;font-family: Georgia, 'Times New Roman', Times, serif;">Admin Dashboard </p>
<hr>

  <div class="btn-group" role="group" aria-label="Basic example" style="border-radius: 8px;border-top: black;border-bottom: black;border-left: black;border-right: black;">
    <button type="button" class="btn aqua-gradient" style="width: 250px;height: 150px;font-size: 25px;">
        <h2 style="font-weight: 500;font-family: 'Times New Roman', Times, serif;">Total Count</h2><br>
        {{count}}</button>
    <button type="button" class="btn aqua-gradient" style="width: 250px;height: 150px;font-size: 25px;">
        <h2 style="font-weight: 500;font-family: 'Times New Roman', Times, serif;">Active Count</h2><br>
        {{activecount}}</button>
    <button type="button" class="btn aqua-gradient" style="width: 250px;height: 150px;font-size: 25px;">
        <h2 style="font-weight: 500;font-family: 'Times New Roman', Times, serif;">Featured Count</h2><br>
        {{featuredcount}}</button>
  </div>