<!-- Default form contact -->
<form style="margin-top: 40px;" [formGroup]="myForm" *ngIf="myForm" (ngSubmit)="submit()">

    <!-- Name -->
    <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Title" formControlName="title">

    <select class="browser-default custom-select mb-4" formControlName="cat_id">
        <option value="" disabled>Choose option</option>
        <option value="1" selected>Select Category</option>
        <option *ngFor="let c of cat" value="{{c.cid}}">{{c.cname}}</option>

    </select>


<div class="form-group form-row">
  <label class="col-md-3">IsFeatured :</label>
  <div class="col-md-9">
    <input type="radio" value="1" formControlName="isfeatured">Yes 
    <input type="radio" value="0" formControlName="isfeatured">No
  </div>

</div><br>


<div class="form-group form-row">
  <label class="col-md-3">IsActive :</label>
  <div class="col-md-9">
    <input type="radio" value="1" formControlName="isactive">Yes 
    <input type="radio" value="0" formControlName="isactive">No
  </div>

</div><br>




    <!-- Message -->
    <div class="form-group">
        <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="Description" formControlName="description"></textarea>
    </div>
    <!-- Copy -->
 

    <!-- Send button -->
    <button class="btn btn-info btn-block" type="submit" style="width: 100px;">Submit</button>

</form>
<!-- Default form contact -->
